.addedToCartItemsBlock {
  margin-top: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem;
  .head {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem;
  }
  .subHead {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1.5rem 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    span:nth-child(1) {
      color: #007185;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      &:hover {
        color: #c7511f;
        border-bottom: 1px solid #c7511f;
      }
    }
  }
  .addedToCartItem {
    // display: inline-grid;
    // grid-template-columns: 1fr 2fr 13fr;
    display: flex;
    align-items: center;
    grid-gap: 1.5rem;
    padding: 1.5rem;
    border-bottom: 1px solid #ddd;
    input[type="checkbox"] {
      cursor: pointer;
    }
    .img {
      flex: 1;
      width: 200px;
      height: 150px;
    }
    .text {
      flex: 6;
      display: flex;
      flex-direction: column;
      gap: 0.15rem;
      .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .titleText {
          //   font-weight: bold;
          font-size: 18px;
        }
        .price {
        }
      }
      .avail {
        font-size: 12px;
        color: #007600;
      }
      .prime {
        height: 26px;
        width: 61px;
        position: relative;
        left: -8px;
      }
      .gift {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-bottom: 1rem;
        a {
          position: relative;
          top: 1px;
          color: #0066c0;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          &:hover {
            color: #c7511f;
            border-bottom: 1px solid #c7511f;
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        select {
          padding: 0.4rem 0.5rem;
          border-radius: 7px;
          background-color: #e3e6e6;
          cursor: pointer;
          outline: none;
          border: 1px solid #e3e6e6;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16),
            0 3px 3px rgba(0, 0, 0, 0.23);
          &:hover {
            background-color: #cbd6d6;
          }
        }
        span {
          padding-right: 0.6rem;
          border-right: 2px solid #ddd;
          font-size: 12px;
          color: #0066c0;
          cursor: pointer;
          &:nth-last-child(1) {
            border-right: none;
          }
          &:nth-of-type(1) {
            padding-left: 0.6rem;
            border-left: 2px solid #ddd;
          }
        }
      }
    }
  }
  .subTotal {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    font-size: 18px;
    .number {
      font-weight: bold;
    }
  }
}
