.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  .home_Container {
    .homeContentA {
      margin-top: -370px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 50px 20px;
    }
    .home_Row {
      display: flex;
      z-index: 1;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
