.subTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  .subTotal_Gift {
    display: flex;
    align-items: center;
    input {
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }
  button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #ffd814;
    border-color: #fcd200;
    border-radius: 8px;
  }
  .emiBox {
    margin-top: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    p {
      &:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        .icon {
          cursor: pointer;
        }
      }
      &:nth-of-type(2) {
        padding-top: 1.2rem;
        a {
          text-decoration: none;
          color: #0066c0;
        }
      }
    }
  }
}
