$smallFontSize: 10px;
$mediumFontSize: 13px;
$regularFontSize: 14px;
$darkGrayColor: #ddd;
$lightGrayColor: #999;
$whiteColor: #fff;
$linkColor: #007185;
$ratingIconColor: #de7921;
$reviewsCountColor: #007185;
