.checkOutDetailsPage {
  .top {
    width: 100%;
    padding: 1rem 4rem;
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #fdfdfd;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    align-content: center;

    img {
      width: 136px;
      height: 35px;
      position: relative;
      top: 10px;
    }
    .checkout {
      flex: 1;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .lockIcon {
      font-size: 25px;
      position: relative;
      top: 5px;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    .left {
      .section {
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
        .head {
          color: #c45500;
          font-size: 1.1rem;
          font-weight: bold;
        }
        .content {
          margin: 1rem;
          margin-left: 1.5rem;
          border: 1px solid #ddd;
          border-radius: 8px;
          padding: 1rem;
          .contentHead {
            font-weight: bold;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #ddd;
            .date {
              color: green;
            }
          }
          div {
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid transparent;
            border-radius: 5px;
            &.selected {
              background-color: #fcf5ee;
              border: 1px solid #fbd8b4;
            }
          }
          .items {
            display: grid;
            grid-template-columns: 1fr 3fr 3fr;
            gap: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #ddd;
            img {
              height: 100px;
              width: 100px;
            }
            .itemDetails {
              display: flex;
              flex-direction: column;
              select {
                width: 70px;
                padding: 0.2rem;
                border-radius: 5px;
                font-size: 12px;
                background-color: #f0f2f2;
                border: 1px solid #ddd;
              }
              p {
                font-size: 15px;
                display: flex;
                align-items: center;
                .checkedPrime {
                  height: 26px;
                  width: 61px;
                }
              }
              .price {
                color: #b12704;
                font-weight: bold;
              }
            }
            .deliveryDetails {
              display: flex;
              flex-direction: column;
              .day {
                color: green;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .right {
      //   padding: 1rem;
      border: 1px solid #ddd;
      background-color: white;
      display: flex;
      border-radius: 8px;
      flex-direction: column;
      height: fit-content;
      button {
        margin: 1rem;
        margin-bottom: 1rem;
        // height: 22px;
        border-radius: 8px;
        box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        background: #ffd814;
        border: 1px solid #fcd200;
        color: #0f1111;
        // font-size: 11px;
        padding: 0.4rem;
        cursor: pointer;
        &:hover {
          background: #f7ca00;
          border-color: #f2c200;
          box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
        }
      }
      .rightTopText {
        font-size: 12px;
        margin-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
        text-align: center;
        margin: 0 1rem;
      }
      .rightHead {
        font-weight: bold;
        margin-bottom: 1rem;
        margin: 0 1rem;
        font-size: 1.1rem;
      }
      .numbers {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 0.3rem 1rem;
        &:nth-last-of-type(1) {
          font-weight: bold;
          color: #b12704;
          padding: 0.5rem 0;
          font-size: 1.2rem;
          border-top: 1px solid #ddd;
        }
      }
      .bottomText {
        padding: 1rem;
        background-color: #f0f2f2;
        font-size: 12px;
        p {
          &:nth-of-type(1) {
            color: #007185;
          }
        }
      }
    }
  }
}
