.pageNotFound {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  img {
    width: 125px;
    height: 36px;
  }
  .content {
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      img {
        width: 40px;
        height: 35px;
      }
      div {
        display: flex;
        flex-direction: column;

        p {
          &:nth-child(1) {
            color: #e77600;
            font-weight: bold;
          }
          &:nth-last-child(1) {
            margin-top: 1rem;
            font-weight: bold;
            display: flex;
            align-items: center;
          }
          .icon {
            color: #e77600;
            position: relative;
            left: -3px;
          }
        }
      }
    }
  }
}
