.checkOutPage {
  background-color: #eaeded;

  .checkOut {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-gap: 1rem;
    padding: 20px;
    background-color: white;
    height: max-content;
    background-color: #eaeded;
    .checkOut_Left {
      // background-color: white;
      .checkOut_Ad {
        width: 100%;
        margin-bottom: 10px;
      }
      .CheckOutTitle {
        margin-right: 10px;
        padding: 10px;
        border-bottom: 1px solid lightgray;
      }
    }
    .checkOut_Right {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0 1rem;
    }
  }
}
